@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

nav {
  background: #4a90e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

nav img {
  margin: 42px;
  width: 120px;
  height: 24px;
}

nav div {
  display: flex;
  align-items: center;
}

nav div span {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

nav div i {
  margin-left: 8px;
  margin-right: 42px;
  color: #fff;
  height: 24px;
  width: 24px;
}
